*, html {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(44, 43, 43);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo {
    display: flex;
    align-items: center;
}
.logo h4 {
    margin: 1em;
}
.logo a {
    color:rgb(48, 46, 46);
    font-size:50px;
    font-weight: bold;
    text-decoration:none;
}
.logo a:hover {
    color:black
}
.nav-bar a {
    text-decoration: none;
    margin: 8px;
    font-size: 24px;
    color:rgb(41, 40, 40);
    
}
.nav-bar a:hover {
    color:brown;

}
/*//////////////////////////////////////////////////////////////////////////////////*/

.profil-foto {
    width: 50%;
    margin-top:4em
}
.profil-foto img {
    border-radius: 15em;
    width: 50% max-content;
}
.resumo { 
       width: 50% ;
       float: right;
       margin-top: ;
margin-top: -25em;
margin-right: 8em;

}
.resumo h1 {
    font-size: 80px;
    margin-bottom: .5em;
}
.nav {
 
    float: right;


}

.nav a {
    text-decoration: none;
    font-size: 24px;
    color:rgb(41, 40, 40);
    padding: 2em;
    margin-top: -5em;
    margin-right: 6em;
    border: solid 1px;
    border-radius: 30em; 
    padding-inline: 15px;
}

.resum {
    background-color:rgb(255, 196, 35);
}
.resum:hover {
    background-color: white;
    color: black;
}
.pro {
    background-color:rgb(209, 53, 53);
}
.pro:hover {
    background-color: white;
    color:black
}
.cont {
    background-color: rgb(41, 235, 241);
}
.cont:hover {
    background-color: white;
    color:black
}
}
    
    
    